# Inputs in Python

## `Outline`:
- I, Working with inputs:
    - 1, Directly type down the data's value.
    - 2, Assign data into variables.
- II, Types of inputs:
    - 1, String
    - 2, Float and int
    - 3, Bool
    - 4, Data types conversion

## I, Working with inputs:

 In the latest chapter, we have walked through a basic understanding of Python and instructions on prepping for coding. Now, it is time for you to rise and shine to write your first basic program.
 
 We all know that to code, we must work with our input data. So how can we do it? There are two ways for us to do it:
 - Directly type down the data's value
 - Assign data into variables

### 1, Directly type down the data's value:
- `press Ctrl + Shift to execute the code`

<p style = "color:cyan"> Ex1: Input a numerical value of 6</p>

In [ ]:
#Type here:
6

<details><summary>Click here for the solution after you've done the tasks:
</summary>

```python
6

```

</details>

<p style = "color:cyan"> Ex2: Input a numerical value of 13</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the tasks:   
</summary>

```python
13

```

</details>

<p style = "color:cyan"> Ex3: Input a numerical value 99:

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the tasks:
</summary>

```python
99

```

</details>

<p style = "color:cyan">Ex4: Input the following paragraph: 

    Beige, because is warm, simple and natural. Because it's the color of the worn earth of Mademoiselle's native Auvergne and the beaches of Deauville, Biarritz and Venice Lido. Because it is for her the color for the outdoor, of a natural complexion and the healthy glow of skin kissed by the sun.
</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution:
</summary>

```python
"Beige, because is warm, simple and natural. Because it's the color of the worn earth of Mademoiselle's native Auvergne and the beaches of Deauville, Biarritz and Venice Lido. Because it is for her the color for the outdoor, of a natural complexion and the healthy glow of skin kissed by the sun."

```

</details>


### 2, Assign data into variables: 

#### a, When?
 We use variables to make it convenient for us under the following circumstances:
- When we need to reuse data pieces
- When we need to work with values that vary

#### b, So what is a variable? 

 It is an identifier/a name for the data input that we are working on. To name a variable, we must obey some rules:
- No spaces in between the variable. A space must be represented by "_".
- Always start a variable with an alphabet character or "_". No number or other characters are allowed.
- All characters within the variable must belong to a standard character set to use on computers and electronic devices, such as [ASCII](https://www.w3schools.com/charsets/ref_html_ascii.asp) or [Unicode](https://unicode.org/standard/standard.html).
- Python programming language is case-sensitive. For instance: `Var1` and `var1` are two different variables since one word has a cap letter whilst the other is not.
- A variable name should be brief and meaningful.

#### c, How to assign values to variables?

 We type down the variable name followed by an equal sign "=", then comes the value to assign:
 
 `Variable_name` `=` `Values`

#### d, How to call out the value of the variable?
 
 Type down the variable.

<p style= "color:cyan"> Ex5: Assign the following paragraph into a variable named `the_para` and then call it out: 

    Beige, because is warm, simple and natural. Because it's the color of the worn earth of Mademoiselle's native Auvergne and the beaches of Deauville, Biarritz and Venice Lido. Because it is for her the color for the outdoor, of a natural complexion and the healthy glow of skin kissed by the sun.
    
</p>

In [ ]:
#Type here:

<details><summary>Click here for the solution after you've done the tasks:    
    
</summary>

```python
the_para = "Beige, because is warm, simple and natural. Because it's the color of the worn earth of Mademoiselle's native Auvergne and the beaches of Deauville, Biarritz and Venice Lido. Because it is for her the color for the outdoor, of a natural complexion and the healthy glow of skin kissed by the sun."

the_para
```

</details>

<p style = "color:cyan"> Ex6: Assign the numerical value of 2023 into a variable named `year` and then call it out.
    
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the task.    
  
    
</summary>

```python
year = 2023
year
```

</details>

<p style = "color: cyan">Ex7: Assign the numerical value of March into a variable named `month` and then call it out.
    </p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the task.    
    
    
</summary>

```python
month = 'March'
month
```

</details>

<p style = "color:cyan">Ex8: Name a variable, then assign a value into it and call it out.
    
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the task.    
    
    
</summary>

`If there is no error to pop up, then you pass =)

</details>

## II, Types of inputs:
 As mentioned in the previous chapter, Python is a high-functional object-oriented programming language. Each data piece can be considered as an `object`. We can pass almost all forms of data into it. Now, let's get exposure to the most common forms of data in Python, which we will officially call `classes of objects:
 - Text: `String`
 - Numbers: `Float`, `Int`
 - Boolean: `bool`
 
 To check the class of the data piece, we use the function `type()` and pass the variable or the constant inside the parentheses. Just in case :
> a function is a reusable block of code that we can call out to use. When we call out a function, we type down its name on the editor screen to use it.

<p style = "color:cyan"> Ex9: Can you tell the class of the data piece below?
    
```python
5
```
    
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the task.    
    
    
</summary>

```python
type(5)
```

</details>

<p style = "color:cyan"> Ex10: Can you tell the class of the data piece below?
    
```python
"March"
```
    
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the task.    
    
    
</summary>

```python
type("March")
```

</details>

<p style = "color:cyan"> Ex11: Can you tell the class of the data piece below?
    
```python
True
```

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the task.    
    
    
</summary>

```python
type(True)
```

</details>

<p style = "color:cyan"> Ex12: Can you tell the class of the data piece below?
    
```python
1973.233
```
    
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the task.    
    
    
</summary>

```python
type(1973.233)
```

</details>

### 1, String:
- String is the class of text data. 
- A string is defined by a sequence of texts enclosed by a pair of either single quotes `''`, double quotes `""` or triple quotes`''' '''`.
    + Single and double quotes have similar functions.
    + Triple quotes are used to define a string that spans over multiple lines.  
- Since single quotes `''`, double quotes `""`, and triple quotes`''' '''` are used to define a string. Every time a single quote`'`', a double quote `"`, or a `'''` triple quote shows up, Python will execute it as a start or end for a string. If you want to include a quote of any kind in your text, you must enclose the string with a pair of quotes of a different kind.

<p style = "color:cyan"> Ex13: Assign following paragraph into a variable named `the_string` and then call it out: 

    A pair of triple quotes look like this '''_'''. 
   
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:
    </summary>

```python
the_string = "A pair of triple quotes look like this '''_'''."

#then:
the_string
```

</details>

<p style = "color:cyan"> Ex14: Assign following paragraph into a variable named `the_para` and then PRINT it out: 

    Beige, because is warm, simple and natural. 
    Because it's the color of the worn earth of Mademoiselle's native Auvergne and the beaches of Deauville, Biarritz and Venice Lido. 
    Because it is for her the color for the outdoor, of a natural complexion and the healthy glow of skin kissed by the sun.
    
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
the_para = '''Beige, because is warm, simple and natural. 
Because it's the color of the worn earth of Mademoiselle's native Auvergne and the beaches of Deauville, Biarritz and Venice Lido. 
Because it is for her the color for the outdoor, of a natural complexion and the healthy glow of skin kissed by the sun.'''

print(the_para)
```

</details>

> Some of you may find out that the results of the following commands are different:
```python
the_para
```
And:
```python
print(the_para)
```
> It is because, in a string, a new line is represented by `/n`, which is an escape sequence. We will dig deeper into escape sequences in the upcoming topic.

### 2, Int and Float:

- `Int` is the class of integer number data.
- `Float` is the class of real number data.

<p style = "color:cyan"> Ex15: Is this int or float? 

```python
- 3.333

```
    
</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the tasks:   
    
    
</summary>

```python
type(- 3.333)
```

</details>

<p style = "color:cyan"> Ex16: Is this int or float? 

```python
- 90
```
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the tasks:  
    
    
</summary>

```python
type(- 90)
```

</details>

<p style = "color:cyan"> Ex17: Is this int or float?

```python
136
```
   
</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the tasks:
    
    
</summary>

```python
type(136)
```

</details>

### 3, Bool:
- Bool or so-called boolean data is data that can only take one of the two following values: `True` or `False`.
- Bool data is used to test whether a mathematic equation is true or false and for other purposes.

In [ ]:
#Is this true or false?
3+5 == 9

In [ ]:
#Is this true or false?
30*33 < 23

In [ ]:
#Is this true or false?
4-3>-3

### 4, Data types conversion:
- `a,` We can converse a bool, an int data piece into a float all the time. To do so, we use the `int()` function with the variable or the constant inside the parentheses.

In [ ]:
var1 = 136

<p style="color:cyan;" >Ex18: Do these tasks:
    
    - What is the class of var1?
    - Cast var1 into an int.
    - Recheck the type of the data

</p>

In [ ]:
#Type here:

<details><summary>    
Click here for the solution after you've done the task.    
    
</summary>

```python
#check the class:
print(type(var1))

#Cast data:
int(var1)

#Check the class:
print(type(var1))
```

</details>

In [ ]:
var2 = 136.136

<p style="color:cyan;" >Ex19: Do these tasks:
    
    - What is the class of var2?
    - Cast var1 into an int.
    - Recheck the type of the data

</p>

In [ ]:
#Type here:

<details><summary>Click here for the solution after you've done the tasks:   
    
    
</summary>

```python
#check the class:
print(type(var2))

#Cast data:
int(var2)

#Check the class:
print(type(var2))
```

</details>

In [ ]:
var3 = "Today is a beautiful day"

<p style="color:cyan;" >Ex20: Do these tasks:
    
    - What is the class of var3?
    - Cast var1 into an int.
    - Recheck the type of the data

</p>

In [ ]:
#Type here:

<details><summary >Click here for the solution after you've done the tasks:
    
    
</summary>

```python
#check the class:
print(type(var3))

#Cast data:
int(var3)

#Check the class:
print(type(var3))
```

</details>

In [ ]:
var4 = False

<p style="color:cyan;" >Ex21: Do these tasks:
    
    - What is the class of var4?
    - Cast var1 into an int.
    - Recheck the type of the data

</p>

In [ ]:
#Type here:

<details><summary>Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var4))

#Cast data:
int(var4)

#Check the class:
print(type(var4))
```

</details>

- `b,` We can cast an int, a bool, and a string representing a number using `float()` with the variable or constant within the parentheses.

In [ ]:
var5 = False

<p style="color:cyan;" >Ex22: Do these task:
    
    - What is the class of var5?
    - Cast var1 into a float.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the taskss:    
    
    
</summary>

```python
#check the class:
print(type(var5))

#Cast data:
float(var5)

#Check the class:
print(type(var5))
```

</details>

In [ ]:
var5 = 45

<p style="color:cyan;" >Ex24: Do these task:
    
    - What is the class of var5?
    - Cast var1 into a float.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var5))

#Cast data:
float(var5)

#Check the class:
print(type(var5))
```

</details>

In [ ]:
var5 = '34'

<p style="color:cyan;" >Ex25: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a float.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var5))

#Cast data:
float(var5)

#Check the class:
print(type(var5))
```

</details>

- `c,` We can cast data of all forms into strings. Using the function `str()` with the constant or variable inside the parentheses.

In [ ]:
var3 = 1

<p style="color:cyan;" >Ex26: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a string.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var3))

#Cast data:
str(var3)

#Check the class:
print(type(var3))
```

</details>

In [ ]:
var3 = True

<p style="color:cyan;" >Ex27: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a string.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var3))

#Cast data:
str(var3)

#Check the class:
print(type(var3))
```

</details>

In [ ]:
var3 = - 235.233

<p style="color:cyan;" >Ex28: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a string.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var3))

#Cast data:
str(var3)

#Check the class:
print(type(var3))
```

</details>

- `d,` We can cast the following data into boolean data using the function bool() with the constant or variable within:
    - a string that takes the value of True, False or a number 
    - a float or an int that takes the value of either 1 or 0

In [ ]:
var4 = '1'

<p style="color:cyan;" >Ex29: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a bool.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var4))

#Cast data:
bool(var4)

#Check the class:
print(type(var4))
```

</details>

In [ ]:
var4 = "False"

<p style="color:cyan;" >Ex30: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a bool.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var4))

#Cast data:
bool(var4)

#Check the class:
print(type(var4))
```

</details>

In [ ]:
var4 = 0.000

<p style="color:cyan;" >Ex31: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a bool.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var4))

#Cast data:
bool(var4)

#Check the class:
print(type(var4))
```

</details>

In [ ]:
var4 = 1

<p style="color:cyan;" >Ex32: Do these tasks:
    
    - What is the class of var5?
    - Cast var1 into a bool.
    - Recheck the type of the data
    
</p>

In [ ]:
#Type here:

<details><summary> Click here for the solution after you've done the tasks:    
    
    
</summary>

```python
#check the class:
print(type(var4))

#Cast data:
bool(var4)

#Check the class:
print(type(var4))
```

</details>