# Calculator_Working with Boolean and Numerical data

## `OUTLINE`:
- I, Python's operators:
- II, Assignment operators:
- III, Comparison operators:
- IV, Logical operators:

## I, What are Python operators?

- Python operators are quite similar to arithmetic operators in the sense that they are symbols of arithmetic operations.
- In case you forget what arithmetic operations are, let me remind you. Arithmetic operations are ways of calculating the number. The arithmetic operations and their operators in Python that most of us have been taught are:
    - Subtraction: `-`
    - Division: `/`
    - Integer division: `//`
    - Addition: `+`
    - Modulus: `%`  (to find the remainder of an integer division)
    - Exponentiation: `**`
    - Multiplication: `*`

In [7]:
#3 modulo 4:
3%4

3

In [2]:
# 4 minus 6:
4-6

-2

In [3]:
#2 multiplied by 3:
2*3

6

In [4]:
#2 to the power of 4
2**4

4

In [5]:
#integer division of 13 and 2
13//2

6

In [6]:
#Normal division:
23.3/32

0.728125

Apart from arithmetic operators, Python operators also have other types:
- Assignment operators 
- Comparison operators
- Logical operators

## II, Assignment operators:
- Assignment operators are used to assign values to variables.
- The assignment operator that we have been using through the previous exercises is: `=`, the equal sign.
- We can use a sequence of an arithmetic operator followed by the assignment operator as a short form for an equation of a variable and a constant.

For instance:

In [15]:
x = 3
x = x+3
print(x)

6

In [14]:
x = 3
x +=3
print(x)

6

<p style = "color:cyan">Ex_Find the short form for the following equation: 

```python 
y = 5
y = y + 6

```
</p>

In [16]:
#Type here:

<details><summary >Click here for the solution.    
</summary>

```python
y = 5
y += 5
y

```
</details>

<p style = "color:cyan"> Ex_Find the shortform for the following equation: 

```python 
y = 5
y = y - 6

```
</p>

In [16]:
#Type here:

<details><summary >Click here for solution.    
</summary>

```python
y = 5
y -= 6
y
```
</details>

<p style = "color:cyan"> Ex_Find the shortform for the following equation: 

```python 
y = 5
y = y / 6

```
</p>

In [16]:
#Type here:

<details><summary >Click here for solution.    
</summary>

```python
y = 5
y /= 6
y
```
</details>

<p style = "color:cyan"> Ex_Find the shortform for the following equation: 

```python 
y = 7
y = y // 2

```
</p>

In [43]:
#Type here:

<details><summary >Click here for solution.    
</summary>

```python
y = 7
y //= 2
y
```
</details>

<p style = "color:cyan"> Ex_Find the shortform for the following equation: 

```python 
y = 7
y = y % 2

```
</p>

In [44]:
#Type here:

<details><summary >Click here for solution.    
</summary>

```python
y = 7
y %= 2
y
```
</details>

<p style = "color:cyan"> Ex_Find the shortform for the following equation: 

```python 
y = 3
y = 3**4

```
</p>

In [22]:
#Type here:

<details><summary >Click here for solution.    
</summary>

```python
y = 3
y **= 4
y
```
</details>

## III, Comparison assignments:
- We use comparison assignments to test whether our mathematical statements are true or false.
- In Python, comparison assignments are:
    - `==`: equal
    - `!=`: not equal
    - `>`: greater than
    - `<`: less than
    - `>=`: greater than or equal
    - `<=`: smaller than or equal
> Can you tell whether the following mathematic statements are True or False?

In [23]:
34*4 >= 23*3

True

In [24]:
23//3 <= 5

False

In [25]:
2**8 > 100000

False

In [26]:
4**3 < 3000

True

In [27]:
34 != 23

True

In [28]:
#the class of result:
type(34 != 23)

bool

> The results of these mathematic statements are of `bool` class.

### IV, Logical assignments:

Logical assignments are used to combine conditional statements:
<table style='text-align:left;'>
    <tr>
        <th>Logical assignment</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <th>and</th>
        <th>Only returns True if all conditions are true </th>
    </tr>
    <tr>
        <th>or</th>
        <th>Returns True even if only one condition is True </th>
    </tr>
    <tr>
        <th>not</th>
        <th>Reverse the results of the previous operators</th>
    </tr>
    
</table>

In [36]:
3>3 and 3>4

False

In [37]:
not(3>3 and 3>4)

True

In [39]:
3<2 or 4>3

True

In [41]:
(3>3 and 3>4) or (3>1 and 2>0)

True

In [42]:
type((3>3 and 3>4) or (3>1 and 2>0))

bool

> The results of these logical statements are of `bool` class.